<!DOCTYPE html>
<html>
<head>
  <title>Layouts &raquo; Split-Columns</title>
  <link rel="stylesheet" href="../../assets/lib/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../assets/css/keen-dashboards.css">
  <link rel="stylesheet" href="vendors/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="css/agave.css">
  <link rel="stylesheet" href="css/tabs.css">
  <link rel="stylesheet" href="css/charts.css">
  <link rel="stylesheet" href="vendors/iconmoon/css/iconmoon.css">
</head>
<body class="application">

  <div id="navigation">
    <div class="container">
      <div class="row">
        <div class="span12">
          <nav>
            <ul id="main-navigation" class="hidden-phone hidden-tablet">
              <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-1793"><a href="/">Home</a></li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-299"><a href="http://preview.agaveapi.co/about/">About</a></li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1148"><a href="http://preview.agaveapi.co/documentation/">Documentation</a></li>
              <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1147"><a href="http://status.agaveapi.co">Status</a></li>
              <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-306"><a href="http://ask.iplantcollaborative.org">Support</a></li>
            </ul>
            <form name="nav" class="hidden-desktop">
              <select id="main-menu-select" data-autogenerate="true">
                <option value="/" selected="selected">Home</option>
                <option value="http://preview.agaveapi.co/about/">About</option>
                <option value="http://preview.agaveapi.co/documentation/">Documentation</option>
                <option value="http://status.agaveapi.co">Status</option>
                <option value="http://ask.iplantcollaborative.org">Support</option>
              </select>
            </form>
          </nav>
        </div>
      </div>
    </div>

    <!-- <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="../">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="navbar-brand" href="./">Layouts &raquo; Split Columns</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
          <li><a href="https://keen.io">Home</a></li>
          <li><a href="https://keen.io/team">Team</a></li>
          <li><a href="https://github.com/keenlabs/dashboards/tree/gh-pages/layouts/split-columns">Source</a></li>
          <li><a href="https://groups.google.com/forum/#!forum/keen-io-devs">Community</a></li><li><a href="http://stackoverflow.com/questions/tagged/keen-io?sort=newest&pageSize=15">Technical Support</a></li>
        </ul>
      </div>
    </div> -->
  </div>

  <div class="container-fluid wrapper">
    <!-- begin summary badges -->
    <div id="sum_box" class="row mbl">
      <div class="col-sm-6 col-md-3">
        <div class="panel badge">
          <div class="panel-body">
            <h4 class="value"><i class="icon fa im-job"></i> <span id="summary-jobs">127</span></h4>
            <p class="description">Active Jobs</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="panel badge">
          <div class="panel-body">
            <h4 class="value"><i class="icon fa fa-exchange"></i> <span id="summary-transfers">315</span></h4>
            <p class="description">Active Transfers</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="panel badge">
          <div class="panel-body">
            <h4 class="value"><i class="icon fa fa-group"></i> <span id="summary-users">461</span></h4>
            <p class="description">Active Users</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="panel badge">
          <div class="panel-body">
            <h4 class="value"><i id="summary-status-icon" class="icon fa"></i> <span id="summary-status">All Good</span></h4>
            <p class="description">Platform Status</p>
          </div>
        </div>
      </div>
    </div>
    <!-- end summary badges -->
    <div class="row">
      <div id="stat-sidebar" class="col-sm-2 col-md-2">
        <div class="tabpanel" role="tabpanel">
          <ul id="stat-tabs" class="nav nav-pills stats-type-tabs nav-stacked" role="tablist">
              <li role="presentation" class="active"><a href="#data" aria-controls="data" role="tab" data-toggle="tab"><i class="icon fa fa-exchange"></i></a></li>
              <li role="presentation"><a href="#apps" aria-controls="apps" role="tab" data-toggle="tab"><i class="icon fa fa-th"></i></a></li>
              <li role="presentation"><a href="#clients" aria-controls="clients" role="tab" data-toggle="tab"><i class="icon fa fa-puzzle-piece"></i></a></li>
              <li role="presentation"><a href="#jobs" aria-controls="jobs" role="tab" data-toggle="tab"><i class="icon im-job"></i></a></li>
              <li role="presentation"><a href="#traffic" aria-controls="traffic" role="tab" data-toggle="tab"><i class="icon fa fa-car"></i></a></li>
              <li role="presentation"><a href="#code" aria-controls="code" role="tab" data-toggle="tab"><i class="icon fa fa-code"></i></a></li>
              <li role="presentation"><a href="#operations" aria-controls="operations" role="tab" data-toggle="tab"><i class="icon fa fa-cogs"></i></a></li>
            </ul>
          </div>
        </div>
      <div class="tab-content col-sm-10 col-md-10">
        <div role="tabpanel" class="tab-pane active" id="data">
          <!-- begin data section -->
          <div class="row">
            <div class="col-sm-12 col-md-12"><h2>Data</h2></div>
            <div class="col-sm-8 col-md-8">
              <div class="chart-wrapper">
                <div class="chart-title">
                  Data movement by protocol
                  <a href="#" tabindex="0" role="button" data-toggle="popover" data-content="Total data momement, including retried transfers, is shown by protocol over time.">
                    <i class="icon fa fa-question-circle fa-lg"></i>
                  </a>
                </div>
                <div class="chart-stage">
                    <img data-src="data.info/100%x240/white" data-type="stackedline" >
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-md-4">
              <div class="chart-wrapper">
                <div class="chart-title">
                  Data protocol usage by percentage
                  <a href="#" tabindex="0" role="button" data-toggle="popover" data-content="Data movement by protocol is shown as a percentage of total data moved.">
                    <i class="icon fa fa-question-circle fa-lg"></i>
                  </a>
                </div>
                <div class="chart-stage">
                    <img data-src="data.info/100%x240/white" data-type="donut" >
                </div>
              </div>
            </div>
          </div>
          <!-- begin data badges -->
          <div id="sum_box" class="row mbl">
            <div class="col-sm-6 col-md-3">
              <div class="panel badge">
                <div class="panel-body">
                  <h4 class="value"><i class="icon fa fa-exchange"></i> <span id="data-total">1389</span><span class="units">GB</span></h4>
                  <p class="description">Data Transferred</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="panel badge">
                <div class="panel-body">
                  <h4 class="value"><i class="icon fa im-server"></i> <span id="data-systems">579</span></h4>
                  <p class="description">Unique systems</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="panel badge">
                <div class="panel-body">
                  <h4 class="value"><i class="icon fa fa-video-camera"></i> <span id="data-dvd">215</span></h4>
                  <p class="description">DVDS COPIED</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="panel badge">
                <div class="panel-body">
                  <h4 class="value"><i class="icon fa fa-clock-o"></i> <span id="data-hours">2010</span></h4>
                  <p class="description">Hours Saved</p>
                </div>
              </div>
            </div>
          </div>
          <!-- end data badges -->
          <!-- end data section -->
        </div>

        <div role="tabpanel" class="tab-pane" id="apps">
          <!-- begin app section -->
          <div class="row">
            <div class="col-sm-12 col-md-12"><h2>Apps</h2></div>
            <div class="col-sm-4 col-md-4">
              <div class="chart-wrapper">
                <div class="chart-title">
                  Top apps
                  <a href="#" tabindex="0" role="button" data-toggle="popover" data-content="Top apps used across all Agave tenants">
                    <i class="icon fa fa-question-circle fa-lg"></i>
                  </a>
                </div>
                <div class="chart-stage">
                  <img data-src="apps.info/100%x240/white" data-type="bar" >
                </div>
              </div>
            </div>
            <div class="col-sm-8 col-md-8">
              <div class="chart-wrapper">
                <div class="chart-title">
                  Registered apps over time
                  <a href="#" tabindex="0" role="button" data-toggle="popover" data-content="The total apps over time is the number of active apps registered for use in Agave.">
                    <i class="icon fa fa-question-circle fa-lg"></i>
                  </a>
                </div>
                <div class="chart-stage">
                  <img data-src="apps.info/100%x240/white" data-type="area" >
                </div>
              </div>
            </div>
          </div>
          <!-- begin data badges -->
          <div id="sum_box" class="row mbl">
            <div class="col-sm-6 col-md-3">
              <div class="panel badge">
                <div class="panel-body">
                  <h4 class="value"><i class="icon fa fa-th"></i> <span id="apps-total">1389</span><span>GB</span></h4>
                  <p class="description">Total Apps</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="panel badge">
                <div class="panel-body">
                  <h4 class="value"><i class="icon fa fa-group"></i> <span id="apps-authors">579</span></h4>
                  <p class="description">Contributors</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="panel badge">
                <div class="panel-body">
                  <h4 class="value"><i class="icon fa fa-globe"></i> <span id="apps-public">215</span></h4>
                  <p class="description">Public</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="panel badge">
                <div class="panel-body">
                  <h4 class="value"><i class="icon fa fa-share-alt"></i> <span id="apps-shared">2010</span></h4>
                  <p class="description">Shared</p>
                </div>
              </div>
            </div>
          </div>
          <!-- end data badges -->
          <!-- end app section -->
        </div>

        <div role="tabpanel" class="tab-pane" id="clients">
          <!-- Begin client section -->
          <div class="row">
            <div class="col-sm-12 col-md-12"><h2>Client Applications</h2></div>
            <div class="col-sm-4 col-md-4">
              <div class="chart-wrapper">
                <div class="chart-title">
                  Total registered client apps
                  <a href="#" tabindex="0" role="button" data-toggle="popover" data-content="The number of clients registered over time includes all client applications generating new Agave API keys. Regeneration of existing keys is not included.">
                    <i class="icon fa fa-question-circle fa-lg"></i>
                  </a>
                </div>
                <div class="chart-stage">
                  <img data-src="clients.info/100%x240/white" data-type="donut" >
                </div>
              </div>
            </div>
            <div class="col-sm-8 col-md-8">
              <div class="chart-wrapper">
                <div class="chart-title">
                  Client application registrations
                  <a href="#" tabindex="0" role="button" data-toggle="popover" data-content="The percentage of total clients within each tenant">
                    <i class="icon fa fa-question-circle fa-lg"></i>
                  </a>
                </div>
                <div class="chart-stage">
                  <img data-src="clients.info/100%x240/white" data-type="area" >
                </div>
              </div>
            </div>
          </div>
          <!-- End client section -->
        </div>

        <div role="tabpanel" class="tab-pane" id="jobs">
          <!-- Begin jobs section -->
          <div class="row">
            <div class="col-sm-12 col-md-12"><h2>Jobs</h2></div>
            <div class="col-sm-6 col-md-6">
              <div class="chart-wrapper">
                <div class="chart-title">
                  Job submission by country
                  <a href="#" tabindex="0" role="button" data-toggle="popover" data-content="Job distribution by country. This heat map reflects the quantity of jobs submitted by geographic location. Location is resolved by geolocating ip addresses.">
                    <i class="icon fa fa-question-circle fa-lg"></i>
                  </a>
                </div>
                <div class="chart-stage">
                  <img data-src="jobs.info/100%x240/white" data-type="heatmap" >
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-6">
              <div class="chart-wrapper">
                <div class="chart-title">
                  Monthly job activity
                  <a href="#" tabindex="0" role="button" data-toggle="popover" data-content="Monthly job activity represents the number of jobs which began running during the given period.">
                    <i class="icon fa fa-question-circle fa-lg"></i>
                  </a>
                </div>
                <div class="chart-stage">
                  <img data-src="jobs.info/100%x240/white" data-type="stackedline" >
                </div>
              </div>
            </div>
          </div>
          <!-- begin jobs badges -->
          <div id="sum_box" class="row mbl">
            <div class="col-sm-6 col-md-3">
              <div class="panel badge">
                <div class="panel-body">
                  <h4 class="value"><i class="icon fa im-job"></i> <span id="jobs-total">1389</span></h4>
                  <p class="description">Jobs run</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="panel badge">
                <div class="panel-body">
                  <h4 class="value"><i class="icon fa im-server"></i> <span id="jobs-systems">579</span></h4>
                  <p class="description">Unique systems</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="panel badge">
                <div class="panel-body">
                  <h4 class="value"><i class="icon fa im-cpu"></i> <span id="data-dvd">234212</span></h4>
                  <p class="description">Cores used</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="panel badge">
                <div class="panel-body">
                  <h4 class="value"><i class="icon fa fa-clock-o"></i> <span id="jobs-hours">8234</span><span class="units">K</span></h4>
                  <p class="description">Compute hours</p>
                </div>
              </div>
            </div>
          </div>
          <!-- end jobs badges -->
          <!-- end jobs section -->
        </div>

        <div role="tabpanel" class="tab-pane" id="traffic">
          <!-- begin traffic section -->
          <div class="row">
            <div class="col-sm-12 col-md-12"><h2>Traffic</h2></div>
            <div class="col-sm-4 col-md-4">
              <div class="chart-wrapper">
                <div class="chart-title">
                  Daily requests
                </div>
                <div class="chart-stage">
                  <img data-src="traffic.info/100%x240/white" data-type="knob" >
                </div>
              </div>
            </div>

            <div class="col-sm-8 col-md-8">
              <div class="chart-wrapper">
                <div class="chart-title">
                  Top third-party applications
                  <a href="#" tabindex="0" role="button" data-toggle="popover" data-content="Top client applications across all tenants by cumulative usage.">
                    <i class="icon fa fa-question-circle fa-lg"></i>
                  </a>
                </div>
                <div class="chart-stage">
                  <div class="row">
                    <div class="col-xs-3">
                      <div class="tabbable tabs-left">
                        <ul class="nav nav-tabs">
                          <li class="active"><a href="#usage-clients-requests" data-toggle="tab">Requests</a></li>
                          <li><a href="#usage-clients-data" data-toggle="tab">Data</a></li>
                          <li><a href="#usage-clients-jobs" data-toggle="tab">Jobs</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-xs-9">
                      <div class="tab-content">
                        <div class="tab-pane active" id="usage-clients-requests">
                          <img data-src="usage-clients-requests.info/100%x240/white" data-type="bar" >
                        </div>
                        <div class="tab-pane" id="usage-clients-data">
                          <img data-src="usage-clients-data.info/100%x240/white" data-type="bar" >
                        </div>
                        <div class="tab-pane" id="usage-clients-jobs">
                          <img data-src="usage-clients-jobs.info/100%x240/white" data-type="bar" >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- begin traffic badges -->
          <div id="sum_box" class="row mbl">
            <div class="col-sm-6 col-md-6">
              <div class="panel badge">
                <div class="panel-body">
                  <h4 class="value"><i class="icon fa fa-car"></i> <span id="traffic-daily">57</span><span class="units">K</span></h4>
                  <p class="description">Daily requests</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-6">
              <div class="panel badge">
                <div class="panel-body">
                  <h4 class="value"><i class="icon fa fa-group"></i> <span id="traffic-users">579</span></h4>
                  <p class="description">Daily users</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-12">
              <div class="chart-wrapper">
                <div class="chart-title">
                  Monthly traffic
                  <a href="#" tabindex="0" role="button" data-toggle="popover" data-content="Top client applications across all tenants by cumulative usage.">
                    <i class="icon fa fa-question-circle fa-lg"></i>
                  </a>
                </div>
                <div class="chart-stage">
                  <img data-src="usage-clients-requests.info/100%x240/white" data-type="line" >
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-9">
              <div class="chart-wrapper">
                <div class="chart-title">
                  Global traffic
                  <a href="#" tabindex="0" role="button" data-toggle="popover" data-content="Top client applications across all tenants by cumulative usage.">
                    <i class="icon fa fa-question-circle fa-lg"></i>
                  </a>
                </div>
                <div class="chart-stage">
                  <img data-src="usage-clients-requests.info/100%x240/white" data-type="line" >
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-3">
              <div class="chart-wrapper">
                <div class="chart-title">
                  Top countries
                  <a href="#" tabindex="0" role="button" data-toggle="popover" data-content="Top client applications across all tenants by cumulative usage.">
                    <i class="icon fa fa-question-circle fa-lg"></i>
                  </a>
                </div>
                <div class="chart-stage">
                  <img data-src="usage-clients-requests.info/100%x240/white" data-type="line" >
                </div>
              </div>
            </div>
          </div>
          <!-- end traffic badges -->
        </div>

        <div role="tabpanel" class="tab-pane" id="code">
          <!-- begin developer section -->
          <div class="row">
            <div class="col-sm-12 col-md-12"><h2>Development</h2></div>
            <div class="col-sm-6 col-md-3">
              <div class="panel badge">
                <div class="panel-body">
                  <h4 class="value"><i class="icon fa fa-bug"></i> <span id="git-bugs">12</span></h4>
                  <p class="description">Open issues</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="panel badge">
                <div class="panel-body">
                  <h4 class="value"><i class="icon fa fa-lightbulb-o"></i> <span id="git-feature-requests">16</span></h4>
                  <p class="description">Feature requests</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="panel badge">
                <div class="panel-body">
                  <h4 class="value"><i class="icon fa fa-send"></i> <span id="git-releases">12</span></h4>
                  <p class="description">Releases</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="panel badge">
                <div class="panel-body">
                  <h4 class="value"><i id="git-buildstatus-icon" class="icon fa "></i> <span id="git-buildstatus">up</span><span class="units">%</span></h4>
                  <p class="description">Build Status</p>
                </div>
              </div>
            </div>
          </div>
          <!-- end developer section -->
        </div>

        <div role="tabpanel" class="tab-pane" id="operations">
          <!-- start operations section -->
          <div class="row">
            <div class="col-sm-12 col-md-12"><h2>Operations</h2></div>
            <div class="col-sm-4 col-md-4">
              <div class="chart-wrapper">
                <div class="chart-title">
                  Overall platform uptime
                  <a href="#" tabindex="0" role="button" data-toggle="popover" data-content="Top client applications across all tenants by cumulative usage.">
                    <i class="icon fa fa-question-circle fa-lg"></i>
                  </a>
                </div>
                <div class="chart-stage">
                  <img data-src="operations.info/100%x240/white" data-type="knob" >
                </div>
              </div>
            </div>

            <div class="col-sm-8 col-md-8">
              <div class="chart-wrapper">
                <div class="chart-title">
                  Platform uptime by service
                  <a href="#" tabindex="0" role="button" data-toggle="popover" data-content="Top client applications across all tenants by cumulative usage.">
                    <i class="icon fa fa-question-circle fa-lg"></i>
                  </a>
                </div>
                <div class="chart-stage">
                  <img data-src="operations.info/100%x240/white" data-type="bar" >
                </div>
              </div>
            </div>
          </div>
          <!-- begin operations badges -->
          <div id="sum_box" class="row mbl">
            <div class="col-sm-6 col-md-3">
              <div class="panel badge">
                <div class="panel-body">
                  <h4 class="value"><i class="icon fa fa-thumbs-o-down"></i> <span id="platform-downtime">00:32:00</span></h4>
                  <p class="description">Downtime</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="panel badge">
                <div class="panel-body">
                  <h4 class="value"><i class="icon fa fa-gamepad"></i> <span id="platform-maintenance">0</span></h4>
                  <p class="description">Maintenance</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="panel badge">
                <div class="panel-body">
                  <h4 class="value"><i class="icon fa fa-refresh"></i> <span id="platform-updates">17</span></h4>
                  <p class="description">Deployments</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="panel badge">
                <div class="panel-body">
                  <h4 class="value"><i class="icon im-docker"></i> <span id="platform-containers">48</span></h4>
                  <p class="description">Containers</p>
                </div>
              </div>
            </div>
          </div>
          <!-- end operations badges -->
          <!-- end operations section -->
        </div>
      </div>
    </div>
  </div>
  <!-- end body content -->

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-6">
          <p class="copytext ">Copyright 2013 <a href="http://www.iplantcollaborative.org/">by iPlant Collaborative</a>. <a href="/terms">Terms of Use</a></p>
        </div>
        <div class="col-sm-6 col-md-6">
          <div class="pull-right col-sm-11 col-md-11">
            Funded by the National Science Foundation Plant Cyberinfrastructure Program (DBI-0735191),
            the National Science Foundation Plant Genome Research Program (IOS-1237931 and IOS-1237931),
            the National Science Foundation Division of Biological Infrastructure (DBI-1262414),
            the National Science Foundation Division of Advanced  CyberInfrastructure (1127210),
            and the National Institute of Allergy and Infectious Diseases (1R01A1097403).
          </div>
          <div style="pull-right text-right col-sm-11 col-md-1">
            <img alt="" src="http://agaveapi.co/wp-content/themes/agave/images/logo_nse.png" style="width: 40px; height: 40px;" scale="0"><br>
            <img alt="" src="http://agaveapi.co/wp-content/themes/agave/images/logo-niaid.png" style="margin-top: 10px; height: 40px; padding-left: 3px;" scale="0">
          </div>
        </div>
      </div>
    </div>
    <div class="texture"></div>
    <div class="clear"></div>
  </footer>

  <script src="../../assets/lib/jquery/dist/jquery.min.js"></script>
  <script src="../../assets/lib/bootstrap/dist/js/bootstrap.min.js"></script>


  <script src="../../assets/lib/holderjs/holder.js"></script>
  <script>
    Holder.add_theme("white", { background:"#fff", foreground:"#a7a7a7", size:10 });
    Holder.invisible_error_fn = function(fn){
      return function(el){
        if(el.hasAttribute("data-holder-invisible")){
          console.log("Skipped invisible check on item ");
          //throw new Error("Holder: invisible placeholder")
        }
      }
    }
    Holder.run({
      domain: 'data.info',
    });
    Holder.run();

    /**
    * Returns a random integer between min (inclusive) and max (inclusive)
    * Using Math.round() will give you a non-uniform distribution!
    */
    function getRandomInt(min, max) {
      return Math.floor(Math.random() * (max - min + 1)) + min;
    }

    var isLoadingHolder = false;
    $(function () {
      // jQuery('.chart-stage img').lazyload({skip_invisible:false});
      $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {

        Holder.run({
          domain: $(this).attr('href').substring(1) + '.info'
        });

        if ($(this).attr('href') === '#traffic') {
          Holder.run({
            domain: 'usage-clients-requests.info'
          });
        }
      });

      $('#stat-tabs li:first-child').click();
      $('a[data-toggle="popover"]').click(function(e) { e.preventDefault(); });
      $('[data-toggle="popover"]').popover({
        container: 'body',
        placement: 'left',
        trigger: 'focus'
      });
      var statuses = [
        { icon: 'fa-thumbs-o-up', status: 'good', values: ['Up','Bueno','Good', 'Rockin', 'Cruising', 'Awesome', 'Super', 'Excellent', 'Joyful', 'Fierce'] },
        { icon: 'fa-gamepad', status: 'maintenance', values: ['In surgery', 'Maintenance', 'Taking a breather', 'Recharging', 'Tune-up', 'Oil change', "Back in a few", 'Vacation', 'On break', 'Pensive', 'Tired'] },
        { icon: 'fa-thumbs-o-down', status: 'down', values: ['Down', 'Borked', 'Struggling', 'Help', 'On strike', 'Asleep', 'Mid-life crisis', 'Bitter', 'Angstful', 'Sad', 'Angry'] },
        { icon: 'fa-spin fa-spinner', status: 'deploying', values: ['Growing', 'Moving', 'Bulking up', 'Growth spurt', 'Cowboy up', 'Eating Wheaties', 'Power nap', 'Power up', 'Manning up'] }
      ];
      var status = statuses[getRandomInt(0,3)];
      var status_text = status.values[getRandomInt(0, status.values.length - 1)];
      $('#summary-status').html(status_text);
      $('#summary-status-icon').addClass(status.icon);

      status = statuses[getRandomInt(0,3)];
      status_text = status.values[getRandomInt(0, status.values.length - 1)];
      $('#git-buildstatus').html(status_text);
      $('#git-buildstatus-icon').addClass(status.icon);

    });
  </script>

  <script src="../../assets/agave.js"></script>

</body>
</html>
